.elipse {
  position: absolute;
  width: 280px;
  height: 145px;
  overflow: hidden;
  z-index: 2;
}

.elipse::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0 0 300px 300px;
  border: 58px solid #E99478;
  border-top: none;
  box-sizing: border-box;
}

.elipse.yellow::before {
      border-color: #FFCA78;
}
