@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &__wrapper {
        padding: 30px 30px 0 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
            @include respond-to(md) {
            padding: 16px 20px 0 24px;
            }
    }
    &__logo {
        &__wrapper {
        width: 42px;
        height: 50px;
        cursor: pointer;
            @include respond-to(md) {
            width: 34px;
            height: 40px;
            }
        }
        width: 100%;
        height: 100%;
    }
    &__mobile-menu {
        display: none;
            @include respond-to(md) {
                display: block;
                position: relative;
                padding: 7px 4px;
                width: 24px;
                height: 18px;
                border-top: 2px solid black;
                border-bottom: 2px solid black;
                margin-top: -4px;
                caret-color: transparent;
                    &::before {
                        position: absolute;
                        content: "";
                        display: block;
                        top: 40%;
                        left: 0px;
                        width: 100%;
                        height: 2px;
                        background-color: black;
                    }
            }
    }

    &__content {
        display: flex;
        gap: 30px;
        &-icon {
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
        &-profile-btn {
            @include respond-to(md) {
                display: none;
            }
        }
        &-quiz-btn {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-bold;
            font-size: 16px;
            padding: 15px 30px;
            background-color: variables.$color-accent-orange;
            color: variables.$color-main-white;
            border-radius: 100px;
            cursor: pointer;
                @include respond-to(md) {
                    display: none;
                }
        }
    }
}