@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;


.term-of-use {
    padding-top: 110px;
    padding-bottom: 100px;
        &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgb(0, 0, 0, 0.07);
    }
    &__wrapper {
        position: relative;
        max-width: 680px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 0 20px;
            @include respond-to(md) {
                max-width: 335px;
            }
            @include respond-to(uxs) {
                max-width: 280px;
            }
    }
    &__headline {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-medium;
        font-size: 40px;
        margin-bottom: 40px;
            @include respond-to(md) {
                font-size: 24px;
            }
    }
    &__phrase {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 18px;
        line-height: 32px;
        opacity: 0.5;
            @include respond-to(md) {
                font-size: 14px;
            }
    }
    &__title {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-medium;
        font-size: 28px;
        margin-top: 60px;
        margin-bottom: 40px;
            @include respond-to(md) {
                font-size: 20px;
            }
    }

    &__list {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__item {
        position: relative;
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 18px;
        line-height: 32px;
        opacity: 0.5;
        margin-left: 50px;
            @include respond-to(md) {
                font-size: 14px;
            }
            &::before {
            position: absolute;
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background-color: #FF7D4E;
            left: -50px;
            top: 15px;
                @include respond-to(lg) {
                    width: 20px;
                    left: -40px;
                }
        }
    }
}