//products

@keyframes button-loading-dots {
    0%, 20% {
        color: transparent;
        text-shadow: 
            .25em 0 0 transparent,
            .5em 0 0 transparent;
    }
    40% {
        color: #FF7D4E;
        text-shadow: 
            .25em 0 0 transparent,
            .5em 0 0 transparent;
    }
    60% {
        text-shadow: 
            .25em 0 0 #FF7D4E,
            .5em 0 0 transparent;
    }
    80%, 100% {
        text-shadow: 
            .25em 0 0 #FF7D4E,
            .5em 0 0 #FF7D4E;
    }
}