
    <div class="profile-password__wrapper">
            <h2 class="profile-billing__title">Change Password</h2>

            <form class="profile-password__form" id="password-form" novalidate>
            
            <div class="profile-password__field">
                <label for="current-password" class="profile-password__label">
                    Current Password
                </label>
                <input id="current-password" 
                       class="profile-password__input" 
                       type="password" 
                       name="currentPassword"
                       required />
                <span class="profile-password__error profile-password__error--required">
                    Current password is required
                </span>
                <span class="profile-password__error profile-password__error--pattern">
                    Current password is incorrect
                </span>
            </div>

            <div class="profile-password__field">
                <label for="new-password" class="profile-password__label">
                    New Password
                </label>
                <input id="new-password" 
                       class="profile-password__input" 
                       type="password" 
                       name="newPassword"
                       required />
                <span class="profile-password__error profile-password__error--required">
                    New password is required
                </span>
            </div>


            <div class="profile-password__field">
                <label for="confirm-password" class="profile-password__label">
                    Confirm New Password
                </label>
                <input id="confirm-password" 
                       class="profile-password__input" 
                       type="password" 
                       name="confirmPassword"
                       required />
                <span class="profile-password__error profile-password__error--required">
                    Please confirm your password
                </span>
                <span class="profile-password__error profile-password__error--match">
                    Passwords do not match
                </span>
            </div>

            <button type="submit" class="profile-password__submit" disabled>
                Save
            </button>
        </form>
    </div>
