 <aside class="profile-sidebar">
    <nav class="profile-sidebar__nav">
        <ul class="profile-sidebar__list">
            <li class="profile-sidebar__item">
                <button class="profile-sidebar__btn active" data-section="subscriptions">
                    Subscriptions
                </button>
            </li>
            <li class="profile-sidebar__item">
                <button class="profile-sidebar__btn" data-section="orders">
                    Orders
                </button>
            </li>
            <li class="profile-sidebar__item">
                <button class="profile-sidebar__btn" data-section="overview">
                    Account Overview
                </button>
            </li>
            <li class="profile-sidebar__item">
                <button class="profile-sidebar__btn" data-section="billing">
                    Payment Methods
                </button>
            </li>
            <li class="profile-sidebar__item">
                <button class="profile-sidebar__btn" data-section="password">
                    Change Password
                </button>
            </li>
            <li class="profile-sidebar__item">
                <button class="profile-sidebar__btn signout">
                    Sign Out
                </button>
            </li>
        </ul>
    </nav>
</aside>