<header class="quiz-header">
    <div class="quiz-header__wrapper">

        <a href="./">
            <svg class="quiz-header__logo-white">
                <use href="#icon-vitamin-logo-white"></use>
            </svg>

            <svg class="quiz-header__logo">
                <use href="#icon-vitamin-logo"></use>
            </svg>
        </a>

        <div class="quiz__progress">
            <span id="quiz-current">1</span>/<span id="quiz-total">3</span>
        </div>

    </div>
</header>