<section class="product-advertisement">
    <div class="product-advertisement__wrapper">
        <h2 class="product-advertisement__header">You may also like</h2>
        <div class="product-advertisement__items">

        </div>
    </div>
</section>