<section class="products-catalogue">
    <div class="products-catalogue__wrapper">
        <div class="products-catalogue__content">
            <div class="products-catalogue__filters">
                <button class="products-catalogue__filters-button" data-filter="all">All categories</button>
                <button class="products-catalogue__filters-button" data-filter="Vitamins & Dietary Supplements">Vitamins & Dietary Supplements</button>
                <button class="products-catalogue__filters-button" data-filter="Weight Loss">Weight Loss</button>
                <button class="products-catalogue__filters-button" data-filter="Minerals">Minerals</button>
                <button class="products-catalogue__filters-button" data-filter="Antioxidants">Antioxidants</button>
                <button class="products-catalogue__filters-button" data-filter="Probiotics">Probiotics</button>
                <button class="products-catalogue__filters-button" data-filter="Pain Relief">Pain Relief</button>
                <button class="products-catalogue__filters-button" data-filter="Prenatal Vitamins">Prenatal Vitamins</button>
                <button class="products-catalogue__filters-button" data-filter="sale">Sale%</button>
            </div>


            <div class="products-catalogue__mobile-filter">
                <button class="products-catalogue__mobile-filter-trigger" type="button">
                    <span class="products-catalogue__mobile-filter-label">
                    All categories
                    </span>
                    <span class="products-catalogue__mobile-filter-arrow"></span>
                </button>

                <div class="products-catalogue__mobile-filter-dropdown">
                    <button data-filter="all">All categories</button>
                    <button data-filter="Vitamins & Dietary Supplements">Vitamins & Dietary Supplements</button>
                    <button data-filter="Minerals">Minerals</button>
                    <button data-filter="Pain Relief">Pain Relief</button>
                    <button data-filter="Probiotics">Probiotics</button>
                    <button data-filter="Antioxidants">Antioxidants</button>
                    <button data-filter="Weight Loss">Weight Loss</button>
                    <button data-filter="Prenatal Vitamins">Prenatal Vitamins</button>
                </div>
            </div>


            <div class="products-catalogue__items"></div>


        </div>

        <button type="button" class="products-catalogue__load-more-btn">View more</button>
    </div>
</section>