<section class="products-reviews">
    <div class="products-reviews__wrapper">
        <h3 class="products-reviews__title">What healthy and happy customer says</h3>
        {{> components/reviews className="products-reviews__content"}}
    </div>
</section>