<section class="products-hero">
    <div class="products-hero__wrapper">
        <div class="products-hero-swiper swiper">
            <div class="products-hero-swiper-wrapper swiper-wrapper">
                <div class="products-hero-swiper-slide swiper-slide">
                    {{> components/banner-purple className="products-hero__banner-purple"}}
                </div>
                
                <div class="products-hero-swiper-slide swiper-slide">
                    {{> components/banner-lilac className="products-hero__banner-lilac"}}
                </div>
                
                <div class="products-hero-swiper-slide swiper-slide">
                    {{> components/banner-blue className="products-hero__banner-blue"}}
                </div>
                <div class="products-hero-swiper-slide swiper-slide">
                    {{> components/banner-purple className="products-hero__banner-purple"}}
                </div>
                <div class="products-hero-swiper-slide swiper-slide">
                    {{> components/banner-lilac className="products-hero__banner-lilac"}}
                </div>
                
                <div class="products-hero-swiper-slide swiper-slide">
                    {{> components/banner-blue className="products-hero__banner-blue"}}
                </div>
            </div>
            
            <div class="products-hero-swiper-pagination swiper-pagination"></div>
            
            <div class="products-hero-swiper-button-next swiper-button-next"></div>
            <div class="products-hero-swiper-button-prev swiper-button-prev"></div>
        </div>
    </div>
</section>