<section class="checkout-success">
    <div class="checkout-success__wrapper">
        <a href="index">
            <svg class="checkout-success__logo">
                <use href="#icon-vitamin-logo"></use>
            </svg>
        </a>

        <p class="checkout-success__title">Thanks for your order!</p>
        <p class="checkout-success__phrase">Your order is now being processed, and will be despatched shortly.</p>
        <a class="checkout-success__button" href="/index">Go to main page</a>
        <p class="checkout-success__watermark">If you have any problems with your order, please contact us by telephone
on +44 (0)20 7424 2800 (Mon-Fri, 10am-6pm GMT).</p>
    </div>
</section>