<div class="banner banner-blue {{className}}">
    <div class="banner-blue__wrapper">
        <div class="banner-blue__content">
            <p class="banner-blue-more">You may also like</p>
            <h3 class="banner-blue-title">Pain Relief Products</h3>
            <p class="banner-blue-phrase">Answer a few simple questions and automatically get a personalazed list of vitamins in minutes</p>
            <button type="button" class="banner-blue-btn">View category</button>
        </div>
        <img class="banner-blue-background" src="./img/components/banners/vitamin-banner-background.png" alt="background picture" loading="lazy">
    </div>
        <div class="banner-blue-image-1-desctop">
            <img src="./img/components/banners/vitamin-banner-picture-3-desctop.png" alt="background picture" loading="lazy">
        </div>
        <div class="banner-blue-image-1-mobile">
            <img src="./img/components/banners/vitamin-banner-picture-3.png" alt="background picture" loading="lazy">
        </div>
</div>