<div class="banner banner-lilac {{className}}">
    <div class="banner-lilac__wrapper">
        <div class="banner-lilac__content">
            <p class="banner-lilac-more">You may also like</p>
            <h3 class="banner-lilac-title">Vitamins & Dietary Supplements</h3>
            <p class="banner-lilac-phrase">Answer a few simple questions and automatically get a personalazed list of vitamins in minutes</p>
            <button type="button" class="banner-lilac-btn">View category</button>
        </div>
        <img class="banner-lilac-background" src="./img/components/banners/vitamin-banner-background.png" alt="background picture" loading="lazy">
    </div>
        <div class="banner-lilac-image-1-desctop">
            <img src="./img/components/banners/vitamin-banner-picture-2-desctop.png" alt="background picture" loading="lazy">
        </div>
        <div class="banner-lilac-image-1-mobile">
            <img src="./img/components/banners/vitamin-banner-picture-2.png" alt="background picture" loading="lazy">
        </div>
</div>