<div class="banner banner-purple {{className}}">
    <div class="banner-purple__wrapper">
        <div class="banner-purple__content">
            <div class="banner-purple-image-1-mobile">
                <img src="./img/components/banners/vitamin-banner-picture-1.png" alt="background picture" loading="lazy">
            </div>
            <h3 class="banner-purple-title">Don’t know what vitamins your body needs?</h3>
            <p class="banner-purple-phrase">Answer a few simple questions and automatically get a personalazed list of vitamins in minutes</p>
            <button type="button" class="banner-purple-btn">Take the quiz</button>
        </div>

        {{> components/elipse className="banner-purple__elipse-2" }}
        <img class="banner-purple-background" src="./img/components/banners/vitamin-banner-background.png" alt="background picture" loading="lazy">
    </div>

        {{> components/circle className="banner-purple__circle"  }}
        <div class="banner-purple-image-1-desctop">
            <img src="./img/components/banners/vitamin-banner-picture-1-desctop.png" alt="background picture" loading="lazy">
        </div>
</div>