<footer class="footer {{className}}">
    <div class="footer__wrapper">
        <div class="footer__logo__content">
            <div class="footer__logo__wrapper">
                <a href="index">
                    <svg class="footer__logo">
                        <use href="#icon-vitamin-logo"></use>
                    </svg>
                </a>
            </div>
            <p class="footer__copyright-desctop">© 2020 Vitamins.com <br> / All rights reserved</p>
        </div>

        <div class="footer__list__content">
            <div class="footer__list__wrapper first">
                <p class="footer__list-name">Shop</p>
                <ul class="footer__list">
                    <li class="footer__item"><a href="/products?category=Vitamins+%26+Dietary+Supplements">Vitamins & Dietary Supplements</a></li>
                    <li class="footer__item"><a href="/products?category=Weight+Loss">Weight Loss</a></li>
                    <li class="footer__item"><a href="/products?category=Minerals">Minerals</a></li>
                    <li class="footer__item"><a href="/products?category=Antioxidants">Antioxidants</a></li>
                    <li class="footer__item"><a href="/products?category=Probiotics">Probiotics</a></li>
                    <li class="footer__item"><a href="/products?category=Pain+Relief">Pain Relief</a></li>
                    <li class="footer__item"><a href="/products?category=Prenatal+Vitamins">Prenatal Vitamins</a></li>
                </ul>
            </div>

            
            <div class="footer__list__wrapper second">
                <p class="footer__list-name">Information</p>
                <ul class="footer__list second">
                    <li class="footer__item"><a href="/term-of-use">Terms & Conditions</a></li>
                    <li class="footer__item"><a href="/term-of-use">Privacy Policy</a></li>
                    <li class="footer__item"><a href="/term-of-use">Shipping & Delivery</a></li>
                    <li class="footer__item"><a href="/term-of-use">Subscription Cycle & Billing</a></li>
                    <li class="footer__item"><a href="/term-of-use">Return Policy</a></li>
                </ul>
            </div>



            <div class="footer__list__wrapper third">
                <p class="footer__list-name">Contact</p>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="mailto:support@medstogo.com">support@medstogo.com</a>
                    </li>
                    <li class="footer__item">
                        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                            <svg class="footer__icon">
                                <use href="#icon-footer-vitamin-facebook"></use>
                            </svg>
                            Facebook
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                            <svg class="footer__icon">
                                <use href="#icon-footer-vitamin-instagram"></use>
                            </svg>
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="footer__copyright-mobile">© 2020 Vitamins.com / All rights reserved</p>
    </div>
</footer>