<header class="header {{className}}">
    <div class="header__wrapper">

        <div class="header__mobile-menu">

        </div>
        
        <div class="header__logo__wrapper">
            <a href="index">
                <svg class="header__logo">
                    <use href="#icon-vitamin-logo"></use>
                </svg>
            </a>

        </div>

        <div class="header__content">
            <button class="header__content-profile-btn" type="button"><svg class="header__content-icon"><use href="#icon-vitamin-profile"></use></svg></button>
            <button class="header__content-cart-btn" type="button"><svg class="header__content-icon"><use href="#icon-vitamin-cart"></use></svg></button>
            <button class="header__content-quiz-btn" type="button">Take the quiz</button>
        </div>

    </div>
</header>