<section class="not-found">
    <div class="not-found__wrapper">
        <div class="not-found__image-wrapper">
            <img class="not-found__image" src="./img/404/404.png" alt="404" loading="lazy"/>
        </div>
        <div class="not-found__content">
            <h3 class="not-found__title">Page not found</h3>
            <p class="not-found__phrase">Unfortunately, the page you requested is out of date or does not exist</p>
            <a href="./" class="not-found__btn">Go to main page</a>
        </div>
    </div>
</section>