<section class="term-of-use">
    <div class="term-of-use__wrapper">
        <h2 class="term-of-use__headline">Terms of Use</h2>
        <p class="term-of-use__phrase">We provide Visitors (as defined below) with access to the Website, and Customers (as defined below) with access to the Services subject to the following Terms of Use. By browsing the public areas or by accessing and using the Services, you acknowledge that you have read, understood, and agree to be legally bound by these Terms of Use and our Privacy Policy, which is hereby incorporated by reference (collectively, this “Agreement”). If you do not agree to any of these terms, then please do not use the Website and/or the Services. We may change the terms and conditions of these Terms of Use from time to time, provided, however, if we make any material changes, we will notify you by email (sent to the email address specified in your account) prior to the changes becoming effective.</p>
        <h3 class="term-of-use__title">1. No medical advice</h3>
        <p class="term-of-use__phrase">You acknowledge and agree that Noho Health does not provide any form of medical care, medical opinion, medical advice, diagnosis, or treatment, and that Noho Health does not evaluate the need to seek medical attention, through the Website and the Services. The Website, the Services and the Content are for informational purposes only, and are not intended as a substitute for professional medical advice, diagnosis, or treatment. You should not use the information on the Website for diagnosing or treating a health problem or disease, or prescribing any medication or other treatment. Always seek the advice of your physician or other qualified health provider before taking any medication or nutritional, herbal or homeopathic supplement and with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on the Website, the Services and/or the Content. If you think you may have a medical emergency, call your doctor or 911 immediately. Reliance on the Website, the Services and the Content is solely at your own risk. Information provided on the Website and the use of any products or services purchased from our Website by you DOES NOT create a doctor-patient relationship between you and any of the health professionals affiliated with our Website. Information and statements regarding dietary supplements have not been evaluated by the Food and Drug Administration and are not intended to diagnose, treat, cure, or prevent any disease.</p>
        <h3 class="term-of-use__title">2. Description and use of service</h3>
        <p class="term-of-use__phrase">Through the Services, we help you to build your own pack of grab-and-go supplements and/or vitamins (“Personalized Care/of Packs”) that we deliver to you in packaged boxes on a subscription basis (“Subscription”).</p>
        <ul class="term-of-use__list">
            <li class="term-of-use__item">
                <span>Citrus bioflavonoid complex</span>
            </li>
            <li class="term-of-use__item">
                <span>Provides potent antioxidant protection and supports healthy immune system function*</span>
            </li>
            <li class="term-of-use__item">
                <span>Supports healthy collagen production, the main component of connective tissue*</span>
            </li>
            <li class="term-of-use__item">
                <span>This product is non-GMO, gluten free, and vegetarian</span>
            </li>
        </ul>
        <p class="term-of-use__phrase">Visitors. Visitors, as the term implies, are people who do not register with us, but want to explore the Website. No login is required for Visitors. Visitors can: (i) view all publicly-available content on the Website; (ii) e-mail us, and (iii) chat with us via our website.</p>
    </div>
</section>