<section class="password-recovery">
    <div class="password-recovery__wrapper">
        <h2 class="password-recovery__header">Recover password</h2>
        <p class="password-recovery__phrase">Please enter your email:</p>
        <form id="password-recovery_form" class="login__form">
            <ul class="password-recovery__list">
                <li class="password-recovery__item email">
                    <input type="email" minlength="3"  name="email" placeholder="Email" required>
                </li>
            </ul>
            <button type="submit" class="password-recovery__submit">Recover</button>
        </form>
    </div>
    <p class="password-recovery__reverse">Remember your password? <span><a href="/login">Back to login</a></span></p>
</section>