@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.product-advertisement {
    max-width: 1800px;
    margin: 0 auto;
    margin-bottom: 100px;
    &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    &__header {
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-medium;
    font-size: 30px;
    margin-bottom: 40px;
    align-self: flex-start;
    padding-left: 202px;
        @include respond-to(lg) {
            padding-left: 20px;
            font-size: 20px;
            margin-bottom: 28px;
            margin-left: auto;
            margin-right: auto;
        }

        @include respond-to(xxs) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__items {
    display: grid;
    width: 100%;
    padding: 0 20px;
    gap: 32px;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        @include respond-to(lg) {
            gap: 15px;
        }

        @include respond-to(sm) {
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            gap: 12px;
        }

        @include respond-to(nuxs) {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }
}