@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;



.product {
    position: relative;
    &__wrapper {
        display: flex;
            @include respond-to(lg) {
                flex-direction: column; 
            }
    }

    &__image{
        width: 608px;
        height: 562px;
        position: sticky;
        transform: none;
        top: 14%;
        margin-bottom: 100px;
        caret-color: transparent;
        will-change: transform;
            @include respond-to(lg) {
                position: absolute;
                left: 50%;
                top: unset;
                margin-bottom: unset;
                height: 346px;
                width: 375px;
                transform: translate(-50%, 20%);
            }
            @include respond-to(xxs) {
                width: 320px;
                height: 296px;
            }
        &-wrapper {
            width: 50%;
            position: relative;
            display: flex;
            justify-content: center;
                @include respond-to(lg) {
                    display: block;
                    height: 436px;
                    width: 100%;
                }
                &.category--vitamins {
                    background-color: #6B5EBB;
                }
                &.category--weight-loss {
                    background-color: #A5B3FF;
                }
                &.category--pain {
                    background-color: #91CAF2;
                }
                &.category--minerals {
                    background-color: #94D6BE;
                }
                &.category--probiotics {
                    background-color: #E8939D;
                }
                &.category--antioxidants {
                    background-color: #F2B385;
                }
                &.category--prenatal-vitamins {
                    background-color: #DA91E0;
                }
            }
    }

    &__content-wrapper {
        width: 50%;
        position: relative;
        padding-left: 135px;
        border-bottom: 1px solid #F2F2F2;
            @include respond-to(lg) {
                padding-left: 0;
                width: 100%;
                margin: 0 auto;
                max-width: 335px;
                margin-top: 40px;
            }
            @include respond-to(xxs) {
                padding: 0 20px;
            }
    }

    &__backlink {
        position: relative;
        display: block;
        color: black;
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-semibold;
        font-size: 16px;
        margin-top: 44px;
        z-index: 100;
        max-width: 200px;
            @include respond-to(lg) {
                display: none;
            }
            &::after {
                content: "";
                position: absolute;
                width: 9px;
                height: 9px;
                border-left: 2px solid black;
                border-top: 2px solid black;
                transform: rotate(-45deg);
                left: -10px;
                top: 7px;
            }
    }

    &__category {
    font-family: variables.$font-family-second;
    font-weight: variables.$font-weight-semibold;
    font-size: 16px;
    margin-top: 94px;
    margin-bottom: 13px;

        @include respond-to(lg) {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 13px;
            max-width: 335px;
        }
        &.category--vitamins {
            color: #6B5EBB;
        }
        &.category--weight-loss {
            color: #A5B3FF;
        }
        &.category--pain {
            color: #91CAF2;
        }
        &.category--minerals {
            color: #94D6BE;
        }
        &.category--probiotics {
            color: #E8939D;
        }
        &.category--antioxidants {
            color: #F2B385;
        }
        &.category--prenatal-vitamins {
            color: #DA91E0;
        }
    }

    &__title {
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-medium;
    font-size: 40px;
    max-width: 563px;
    margin-bottom: 80px;
    position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: grey;
            opacity: 0.3;
            bottom: -40px;
        }
        @include respond-to(lg) {
            font-size: 24px;
            min-height: 39px;
            margin-bottom: 80px;
            max-width: 335px;
        }
    }

    &__cart {

        &-wrapper {
            max-width: 563px;
                @include respond-to(lg) {
                    max-width: 335px;
                }
        }

        &-quantity {
        display: flex;
        align-items: center;
        gap: 32px;
            @include respond-to(lg) {
                gap: 18px;
            }
            button {
                width: 50px;
                height: 50px;
                background: #F5F5F5;
                border-radius: 100%;
                position: relative;
                caret-color: transparent;
            }
        }
        &-btn-menus {
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 2px;
                opacity: 0.3;
                background-color: #000000;
                left: 50%;
                transform: translate(-50%,0%);
            }
        }

        &-btn-plus {
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 2px;
                background-color: #000000;
                left: 50%;
                transform: translate(-50%,0%);
            }
            &::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 12px;
                background-color: #000000;
                top: 51%;
                transform: translate(-50%, -50%);
            }
        }
        &-count {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-regular;
        font-size: 20px;
        }
    }

    &__package {
        &-wrapper {
        display: flex;
        align-items: center;
            @include respond-to(lg) {
                align-items: flex-start;
                flex-direction: column;
                gap: 17px;
            }
        }

        &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        padding-right: 30px;
            @include respond-to(lg) {
                padding-right: 0;
                width: 100%;
            }
        }
        &-icon {
            width: 50px;
            height: 60px;
        }
        &__content {
            margin-left: 20px;
                @include respond-to(lg) {
                    margin: 0;
                }
        }
        &-quantity {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-semibold;
        font-size: 16px;
        }
        &-desc {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 14px;
        opacity: 0.7;
        }
    }

    &__order-wrapper {
        padding: 30px;
        border-radius: 30px;
        border: 1px solid #E6E6E6;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        position: relative;
            @include respond-to(lg) {
                flex-direction: column-reverse;
                border-radius: 16px;
                padding: 25px 20px;
                gap: 50px;
            }
    }

    &__order-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #F2F2F2;
            top: -30px;
                @include respond-to(lg) {
                    top: unset;
                    bottom: -25px;
                }
        }
    }
    &__order-btn {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-bold;
        font-size: 20px;
        background-color: #FF7D4E;
        color: white;
        padding: 20px 115px;
        border-radius: 100px;
        cursor: pointer;
            @include respond-to(lg) {
                padding: 18px 55px;
                font-size: 16px;
            }
            @include respond-to(xxs) {
                padding: 18px 32px;
            }
    }
    &__autoship {
        opacity: 0.5;
        transition: opacity 0.3s ease;
        &-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        position: relative;
        }

        &-content {
        display: flex;
        align-items: center;
        gap: 16px;
            @include respond-to(lg) {
                gap: 7px;
            }
        }

        &-title {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 14px;
        white-space: nowrap;
        }

        &-frequency {
            position: relative;
            select {
            appearance: none;
            border: none;
            background: #f5f5f5;
            border-radius: 8px;
            padding: 8px 36px 8px 16px;
            font-family: variables.$font-family-second;
            font-weight: variables.$font-weight-semibold;
            font-size: 14px;
            cursor: pointer;
                @include respond-to(lg) {
                    padding: 8px 12px;
                }
            }
            &::before {
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            border-left: 2px solid black;
            border-top: 2px solid black;
            transform: rotate(-135deg);
            right: 12px;
            top: 14px;
                @include respond-to(lg) {
                    content: none;
                }
            }
         }

         &-checkbox {
            position: absolute;
            opacity: 0;
            width: 62px;
            height: 36px;
            right: 0px;
            z-index: 1;
            cursor: pointer;
        }

        &-custom-checkbox {
        position: relative;
        width: 62px;
        height: 36px;
        background-color: #FFFFFF;
        border-radius: 30px;
        border: 2px solid #DEDEDE;
        position: relative;
        transition: background 0.3s ease;

            &::before {
            content: "";
            position: absolute;
            width: 26px;
            height: 26px;
            background: #DEDEDE;
            border-radius: 50%;
            top: 3px;
            left: 3px;
            transition: transform 0.3s ease;
            }
        }

  }

  &__autoship-checkbox:checked + &__autoship-custom-checkbox {
    border-color: #f68b5c;

    &::before {
    transform: translateX(24px);
    background: #f68b5c;

    }
  }


  &__autoship-title-mobile {
    display: none;
  }

  @include respond-to(lg) {
    &__autoship-title-desctop {
      display: none;
    }

    &__autoship-title-mobile {
      display: inline;
    }
  }

    &__autoship--active,
    &__autoship-checkbox:checked ~ .product__autoship-label .product__autoship {
        opacity: 1;
    }


    &__price-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__price--regular {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-bold;
        font-size: 30px;
            @include respond-to(lg) {
                font-size: 20px;
                font-family: variables.$font-family-main;
                font-weight: variables.$font-weight-medium;
            }
    }

    &__price--old {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-semibold;
        font-size: 16px;
        position: relative;
        max-width: 52px;
            @include respond-to(lg) {
                font-size: 12px;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: black;
                top: 55%;
            }
    }

    &__price--new {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-bold;
        font-size: 30px;
        color: red;
            @include respond-to(lg) {
                font-size: 20px;
            }
    }

    &__sale {
        position: absolute;
        width: 36px;
        height: 22px;
        border-radius: 4px;
        background-color: red;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-bold;
        font-size: 10px;
        top: 0%;
        left: 11%;
            @include respond-to(lg) {
                font-size: 10px;
                width: 36px;
                height: 22px;
                top: 5%;
                left: 15%;
            }
            @include respond-to(xxs) {
                left: 18%;
            }
    }


    &__description {
        margin-top: 90px;
        max-width: 563px;
            @include respond-to(lg) {
                max-width: 335px;
                margin-top: 120px;
            }
        &-header {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-medium;
        font-size: 26px;
        margin-bottom: 30px;
            @include respond-to(lg) {
                font-size: 20px;
            }
        }
        &-phrase {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 30px;
            @include respond-to(lg) {
                font-size: 14px;
                line-height: 24px;
            }
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        &-item {
            margin-left: 50px;
            font-family: variables.$font-family-second;
            font-weight: variables.$font-weight-regular;
            font-size: 16px;
            position: relative;
                @include respond-to(lg) {
                font-size: 14px;
                line-height: 24px;
                margin-left: 40px;
                }
                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 30px;
                    height: 2px;
                    background-color: #FF7D4E;
                    left: -50px;
                    top: 10px;
                        @include respond-to(lg) {
                            width: 20px;
                            left: -40px;
                        }
                }
        }
    }

    &__info {
        margin-top: 90px;
        max-width: 563px;
        margin-bottom: 130px;
            @include respond-to(lg) {
                max-width: 335px;
                margin-top: 60px;
                margin-bottom: 63px;
            }
        &-header {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-medium;
        font-size: 26px;
        margin-bottom: 40px;
            @include respond-to(lg) {
                font-size: 20px;
                margin-bottom: 28px;
            }
        }
        &-phrase {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-semibold;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 60px;
        position: relative;
            @include respond-to(lg) {
                flex-direction: column;
                font-size: 14px;
                gap: 10px;
                line-height: 24px;
            }
            &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #F2F2F2;
            bottom: -30px;
            }
            &:last-child {
                margin: 0;
                &::before {
                    content: none;
                }
            }
        }

        &-detail {
        font-weight: variables.$font-weight-regular;
        width: 324px;
        text-align: left;
            @include respond-to(xxs) {
                width: unset;
                max-width: 280px;
            }
        }
    }
}

