@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.main-quiz {
    overflow: hidden;
    position: relative;
    padding-top: 150px;
    margin: 0 auto;
    max-width: 1800px;
        @include respond-to(md) {
        padding-top: 59px;
        }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icon {
        width: 99px;
        height: 99px;
        margin-bottom: 50px;
            @include respond-to(md) {
                width: 50px;
                height: 50px;
                margin-bottom: 30px;
            }
    }
    &__title {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-medium;
        font-size: 56px;
        text-align: center;
        margin-bottom: 32px;
            @include respond-to(md) {
                font-size: 24px;
                margin-bottom: 15px;
            }
    }
    &__phrase {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 20px;
        text-align: center;
        max-width: 800px;
        line-height: 1.6em;
        margin-bottom: 52px;
            @include respond-to(md) {
                font-size: 14px;
                max-width: 335px;
                margin-bottom: 29px;
            }
    }
    &__circle {
        right: 12.4%;
        top: 23.5%;
        background-color: #8172DD;
            @include respond-to(md) {
                width: 60px;
                height: 60px;
                right: 0;
                transform: translate(50%, 40%);
                top: 0;
            }
    }
    &__elipse {
        top: 36.1%;
        left: 4.4%;
        transform: rotate(90deg);
            @include respond-to(md) {
                display: none;
            }
    }
}