@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.main-reviews {
    margin: 0 auto;
    max-width: 1800px;
    margin-top: -263px;
    padding: 0 202px;
        @include respond-to(lg) {
            margin-top: 80px;
            padding: 0 100px;
        }
        @include respond-to(sm) {
            padding: 0 20px;
            margin-top: 40px;
        }
    &__wrapper {
        margin-bottom: 90px;
            @include respond-to(sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            }
    }
    &__icon {
        width: 86px;
        height: 98px;
        margin-bottom: 37px;
            @include respond-to(sm) {
                width: 50px;
                height: 56px;
                margin-bottom: 30px;
            }
    }
    &__title {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-medium;
        font-size: 56px;
        max-width: 670px;
        margin-bottom: 31px;
            @include respond-to(sm) {
                font-size: 20px;
                max-width: 287px;
                text-align: center;
                margin-bottom: 13px;
            }
    }
        &__phrase {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 20px;
        max-width: 670px;
        line-height: 1.67em;
            @include respond-to(sm) {
                font-size: 14px;
                max-width: 335px;
                text-align: center;
            }
    }
}