<section class="personal-pack-hero">
    <div class="personal-pack-hero__wrapper">
        <h2 class="personal-pack-hero__title" >Hello, we made personalized pack for you!</h2>
        <p class="personal-pack-hero__bold">Recommenadation</p>
        <p class="personal-pack-hero__phrase">Your recommendation is based on your answers and our database of clinical research. This health plan, made just for you, is recommended for you to feel your best today while supporting long-term health.</p>
    </div>
</section>