<section class="personal-pack-catalogue">
    <div class="personal-pack-catalogue__wrapper">
        <h2 class="personal-pack-catalogue__title">Your Personalized Pack</h2>
        <div class="personal-pack-catalogue__items">

        </div>
        <button class="personal-pack-catalogue__btn">Continue</button>
    </div>
</section>