<section class="main-start">
    <div class="main-start__wrapper">
        <svg class="main-start__icon">
            <use href="#icon-main-contacts"></use>
        </svg>
        <h2 class="main-start__title">Ready to get started?</h2>
        <p class="main-start__phrase">We'll help you create a health plan with vitamins, supplements, and more that help you feel your best today and support you long-term.</p>
        {{> components/quiz-btn className="main-start-quiz-btn" }}
        {{> components/shop-btn className="main-start-shop-btn "}}
    </div>
        {{> components/elipse className="yellow main-start__elipse-1" }}
        {{> components/elipse className="main-start__elipse-2" }}
</section>