<section class="main-projects">
    <div class="main-projects__wrapper">
        <div class="main-projects__content-swiper">

        </div>

        <div class="main-projects__content-content">
            <h2 class="main-projects__content-title">Choose your products</h2>
            <p class="main-projects__content-phrase">We'll help you create a health plan with vitamins, supplements, and more that help you feel your best today and support you long-term.</p>
            {{> components/shop-btn className="main-projects__content-shop-btn "}}
            <img class="main-projects__image-background" src="./img/main/projects/main-projects-background.webp" alt="background picture" loading="lazy">
        </div>
    </div>
    <img class="main-projects__image-3" src="./img/main/projects/main-projects-image-3.webp" alt="background picture" loading="lazy">
</section>