<section class="main-quiz">
    <div class="main-quiz__wrapper">
        <svg class="main-quiz__icon">
            <use href="#icon-main-quiz"></use>
        </svg>
        <h2 class="main-quiz__title">Tell us a little about yourself. <br> We’re good listeners.</h2>
        <p class="main-quiz__phrase">We'll help you create a health plan with vitamins, supplements, and more that help you feel your best today and support you long-term.</p>
        {{> components/quiz-btn className="main-hero-quiz-btn" }}
    </div>

    {{> components/circle className="main-quiz__circle"  }}
    {{> components/elipse className="yellow main-quiz__elipse" }}
</section>