<section class="main-hero">
    <div class="main-hero__wrapper">
        <div class="main-hero__content">
            <h2 class="main-hero-title">Find out what <span>vitamins</span> your body needs right now.</h2>
            <p class="main-hero-phrase">Answer a few simple questions and automatically get a personalazed list of vitamins in minutes</p>   
            <div class="main-hero__buttons">
                {{> components/quiz-btn className="main-hero-quiz-btn" }}
                {{> components/shop-btn className="main-hero-shop-btn "}}
            </div>

        </div>

        <div class="main-hero__image__wrapper">
            <img class="main-hero__image" src="./img/main/hero/main-hero-vitamins-1.webp" alt="vitamins picture" loading="eager">
        </div>

        {{> components/elipse className="yellow main-hero__elipse-1" }}
        {{> components/elipse className="main-hero__elipse-2" }}
        {{> components/circle className="main-hero__circle"  }}
    </div>
</section>




</div>