<section class="main-about">
    <div class="main-about__wrapper">
        <div class="main-about__content">
            <p class="main-about__content-phrase">Healthy doesn’t have to be hard. We make it easy.</p>
            <img class="main-about__content-background" src="./img/main/about/main-about-background.webp" alt="background picture" loading="lazy">
            {{> components/circle className="main-about__content-circle"  }}
        </div>

        <div class="main-about__icons">
            <div class="main-about__icons-list">
                <div class="main-about__icons-item">
                    <svg class="main-about__icons-icon icon-1">
                        <use href="#icon-main-about-vitamins"></use>
                    </svg>
                    <p class="main-about__icons-phrase">Healthy doesn’t have to be hard. We make it easy.</p>
                </div>
                <div class="main-about__icons-item">
                    <svg class="main-about__icons-icon icon-2">
                        <use href="#icon-main-about-sapling"></use>
                    </svg>
                    <p class="main-about__icons-phrase">Healthy doesn’t have to be hard. We make it easy.</p>
                </div>
                <div class="main-about__icons-item">
                    <svg class="main-about__icons-icon icon-3">
                        <use href="#icon-main-about-cart"></use>
                    </svg>
                    <p class="main-about__icons-phrase">Healthy doesn’t have to be hard. We make it easy.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="main-about__content-image-1"><img src="./img/main/about/main-about-image-1.webp" alt="background picture" loading="lazy"></div>
    <div class="main-about__content-image-2"><img src="./img/main/about/main-about-image-2.webp" alt="background picture" loading="lazy"></div>
    
</section>