<section class="main-reviews">
    <div class="main-reviews__wrapper">

    <svg class="main-reviews__icon">
        <use href="#icon-main-reviews"></use>
    </svg>
    <h2 class="main-reviews__title">What healthy and happy customer says</h2>
    <p class="main-reviews__phrase">We'll help you create a health plan with vitamins, supplements, and more that help you feel your best today and support you long-term.</p>
    </div>

    {{> components/reviews className="main-reviews__reviews"}}
</section>