/* --------------------------
   Effra
-------------------------- */
@font-face {
  font-family: "Effra";
  src: url("@fonts/Effra-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("@fonts/Effra.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("@fonts/Effra-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("@fonts/Effra-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("@fonts/Effra-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

