@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.profile-subs {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &-items {
        background-color: #FAF8F6;
        &__link {
        width: fit-content;
        display: block;
        }
        &__image {
        position: absolute;
        width: 120px;
        height: 122px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &-wrapper {
                position: relative;
                width: 120px;
                height: 170px;
                border-radius: 8px;
                &.category--vitamins {
                    background-color: #6B5EBB;
                }
                &.category--weight-loss {
                    background-color: #A5B3FF;
                }
                &.category--pain {
                    background-color: #91CAF2;
                }
                &.category--minerals {
                    background-color: #94D6BE;
                }
                &.category--probiotics {
                    background-color: #E8939D;
                }
                &.category--antioxidants {
                    background-color: #F2B385;
                }
                &.category--prenatal-vitamins {
                    background-color: #DA91E0;
                }
                &.category--default {
                    background-color: #c286a7;
                }
            }
        }
        &__wrapper {
            display: flex;
            width: 100vw;
            max-width: 1039px;
            gap: 30px;
            padding: 30px 40px;
        }
        &__content {
            &-outer {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &-inner {
                display: flex;
                justify-content: space-between;
            }

        }
        &__category {
            font-family: variables.$font-family-second;
            font-weight: variables.$font-weight-semibold;
            font-size: 14px;
            margin-bottom: 5px;
                &.category--vitamins {
                    color: #6B5EBB;
                }
                &.category--weight-loss {
                    color: #A5B3FF;
                }
                &.category--pain {
                    color: #91CAF2;
                }
                &.category--minerals {
                    color: #94D6BE;
                }
                &.category--probiotics {
                    color: #E8939D;
                }
                &.category--antioxidants {
                    color: #F2B385;
                }
                &.category--prenatal-vitamins {
                    color: #DA91E0;
                }
                &.category--default {
                    color: #c286a7;
                }
        }
        &__title {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-regular;
            font-size: 20px;
            margin-bottom: 25px;
        }
        &__price {
            font-family: variables.$font-family-second;
            font-weight: variables.$font-weight-semibold;
            font-size: 18px;
        }

        &__shipment {
            &-wrapper {
                display: flex;
                justify-content: space-between;
            }
            &-interval {
            font-family: variables.$font-family-second;
            font-weight: variables.$font-weight-regular;
            font-size: 14px;
            opacity: 0.5;
            margin-bottom: 4px;
            }
            &-next {
            font-family: variables.$font-family-second;
            font-weight: variables.$font-weight-regular;
            font-size: 16px;
            }
        }

        &__btn {
            display: block;
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-medium;
            font-size: 16px;
            max-width: 164px;
            width: 100%;
            color: #D32D2C;
            border: 1px solid rgb(211, 45, 44, 0.2);
            border-radius: 100px;
            cursor: pointer;
            padding: 15px 0;
        }
    }

}