@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.profile-password {
    &__wrapper {
        max-width: 500px;
    }

    &__title {
        font-family: variables.$font-family-main;
        font-size: 36px;
        margin-bottom: 40px;
        
        @include respond-to(sm) {
            font-size: 24px;
        }
    }
    &__form {
        width: 100vw;
        max-width: 444px;
    }
    &__field {
        width: 100%;
        margin-bottom: 24px;
    }

    &__label {
        display: block;
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-regular;
        font-size: 14px;
        margin-bottom: 5px;
        opacity: 0.5;
    }

    &__input {
        width: 100%;
        padding: 14px 16px;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        background: #FAF8F6;
        transition: all 0.2s ease;

        &:focus {
            border-color: #FF7D4E;
            outline: none;
        }

        &.invalid {
            border-color: #e53935;
        }
    }

    &__error {
        font-size: 12px;
        color: #e53935;
        margin-top: 6px;
        display: none;

        &.visible {
            display: block;
        }
    }

    &__submit {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-bold;
        width: 100%;
        max-width: 154px;
        padding: 15px 0;
        background: #FF7D4E;
        color: white;
        border: none;
        border-radius: 100px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s ease;
        margin-top: 50px;
        &:hover:not(:disabled) {
            background: darken(#FF7D4E, 10%);
        }

        &:disabled {
            background: #E1DEDA;
            cursor: not-allowed;
        }
    }
}